html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: black;
  text-decoration: none;
}

                        /*  CHROME AND SAFARI */
.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 30px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #777;
}

                        /*FIREFOX */
.scrollbar::-moz-scrollbar {
  width: 10px;
}

.scrollbar::-moz-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 30px;
}

.scrollbar::-moz-scrollbar-thumb:hover {
  background-color: #aaa;
}

.scrollbar::-moz-scrollbar-thumb:active {
  background-color: #777;
}

                        /* MICROSOFT EDGE */
.scrollbar::-ms-scrollbar {
  width: 10px;
}

.scrollbar::-ms-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 30px;
}            

.scrollbar::-ms-scrollbar-thumb:hover {
  background-color: #aaa;
}

.scrollbar::-ms-scrollbar-thumb:active {
  background-color: #777;
}

.category-btn {
  border: none; 
  background-color: white; 
  display: flex;
  align-items: center; 
  cursor: pointer;
  border-radius: 30px;
  margin: 0.5rem;
  padding: 0.5rem;
}

.category-btn:hover  {
  background-color : #eee;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.react-player {
  height: 77vh !important;
  width: 100% !important;
}


